*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEEEEE;
}
.mainbody{
    display: flex;
    
}
.logobox{
margin-top: 15rem;
margin-left: 15rem;
font-family: Helvetica;
    font-size: 30px;
    color: #1877f2;
    font-weight: bolder;

  
}

 .container{
    

    margin-left: 8rem;
    float: right;
    margin-top: 10rem;
    border-radius: 12px;
    background-color: #ffffff;
        width: 25rem;
        height: 22rem;
      
        border: none;
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;
}



.form  input{
    padding: 14px;
    width: 95%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    margin-left: .3rem;
    border-radius: 5px;
    border: .01rem dotted black;
    font-size: 16px;
}
.btn{
    width: 88%;
    font-size: 20px;
    padding: 13px;
    padding-left: 1.5rem;
    border-radius: 7px;
    margin-top: 1rem;
    margin-left: .3rem;
    height: 3rem;
    background-color:  #1877f2;
    opacity: 95%;
    color: white;
    border: none;
    font-family: sans-serif;

}
.btn:hover{
    opacity: 100%;
}
.forgotPassword{
    font-family: sans-serif;
 margin-top:1rem; 
 margin-left: 8.5rem; 
 font-weight: 500;
 font-size: 14px;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;

    color: #1877f2;
}
a:hover{
    text-decoration: underline;
    padding-bottom: .3rem;
}

.line{
    width: 90%;
    margin-left: 20px;
    margin-top: 25px;
    height: .1px;
    background-color: black;
}
.anotherBtn{
    margin-top: 23px;
    margin-bottom: 18px;
    padding: 14px;
    margin-left: 6.5rem;
    font-size: 17px;
    background-color: #42b72a;
    opacity: 90%;
    border-radius: 5px;
    color:#ffffff;
    border: none;
}

.anotherBtn:hover{
    opacity: 100%;
}
.bottom{
    
    margin-top: 1.5rem;
    float: right;
    margin-right: 18rem;
    color: black;
}

.heading{
    color:black;
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 19.5rem;
 margin-left: -17rem;
}


@media screen and (max-width: 600px){

    .mainbody{
        flex-direction: column;
    }
    .logobox{
        margin-top: 3rem;
        margin-left: 8rem;
        
    }
    .heading{
        font-size: 23px;
        font-weight: 500;
        margin-left: 3rem;
        text-align: center;
        margin-right: 3rem;
        margin-top: .7rem;
    }

    


        .container{

            margin-top: 3rem;
            margin-left: 3.5rem;
            float: right;
            border-radius: 12px;
            background-color: #ffffff;
                width: 25rem;
                height: 22rem;
                text-align: center;
                border: none;
                padding: 10px;
                box-shadow: 5px 10px 8px #888888;

    
}

.bottom{
    margin-top: 1rem;
    margin-right: 7.5rem;
    
}
.forgotPassword{
    margin-top:1rem; 
    margin-left: 1.6rem; 
    font-weight: 500;
   }

.anotherBtn{
    margin-left: .5rem;
}
}
